<p>This is radom User API</p>
<div class="main__container">
  <!--  show user from api  -->
  <h1>Table User</h1>

  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <div *ngIf="isDataTableLoading" class="mat-elevation-z8 mat-table">
    <div class="combobox">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select placeholder="Country" [(ngModel)]="selectCountry" (ngModelChange)="onChange()">
          <mat-option *ngFor="let country of counstries" [value]="country.value">
            {{country.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div >
      <table>
        <tr >
          <th>
            <i class="fa fa-sort-amount-asc" aria-hidden="true" (click)="onSort()"> </i>
            {{displayedColumns[0]}}
          </th>
          <th><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
            {{displayedColumns[1]}}</th>
          <th>{{displayedColumns[2]}}</th>
          <th>{{displayedColumns[3]}}</th>
          <th>{{displayedColumns[4]}}</th>
          <th>{{displayedColumns[5]}}</th>
          <th>{{displayedColumns[6]}}</th>
        </tr>
        <tr *ngFor="let person of people">
          <td>{{person.no}}</td>
          <td>{{person.gender}}</td>
          <td>{{person.name}}</td>
          <td>{{person.location}}</td>
          <td>{{person.email}}</td>
          <td>{{person.login}}</td>
          <td>{{person.phone}}</td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <br>
  <hr>
  <app-weather></app-weather>
  <div class="row ">
    <div class="col-3">
      <a href="https://www.google.com.vn/" target="_blank"> Google</a>

    </div>
    <div class="col-9">
      <p>This is google link</p>
      <input type="submit" value="Loading...">
    </div>
  </div>
</div>
